html {
  min-height: 100%;
}

body {
  min-height: 100%;
  color: rgba(255,255,255,.85);
  text-shadow: 0 1px 1px rgba(0,0,0,.75);
}

.perspective-background {
  width: 150%;
  height: 150%;
  background: url(../images/background.jpg) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75%;
  margin-left: -75%;
  z-index: -1;
}